*{
    color: #802bb1;
    /* rgb(128, 43, 177) */
    color: #2D283E;
    /* rgb(45, 40, 62) */
    color: #564F6F;
    /* rgb(86, 79, 111) */
    color: #4C495D;
    /* rgb(76, 73, 93) */
    color: #D1D7E0;
    /* rgb(209, 215, 224) */
}   
