/* Big tablet to 1200px */
@media only screen and (max-width: 2048px){
    html{
        font-size: 16px;
    }
    .heading-main-box{
        transform: translate(-43%,-50%);
    }

    form{
        margin-left: 30%;
    }

    .infomation {
        margin-left: -10%;
    }
    .sticky .logo {
        margin-top: 6px;
        width: 60PX;
        height: 65px;
    }

    .mobile-nav-icon{
        visibility: hidden;
    }
}

/* Small tablet to big tablet from 768px to 1023px */
@media only screen and (max-width: 1023px){

    .logo {
        width: 60px;
    }

    .heading-main-box{
        transform: translate(-35%,-50%);
    }

    .products-section .row {
        font-size: 80%;
    }

    .product-box {
      height: 35vh;
    }

    .product-box .btn{
        margin-left: 10%;
        width: 80%;
    }

    .product-box ul li {
        margin-left: 5%;
    }

    .social-icon li {
        margin-left: 10px;
    }

    .infomation i {
        display: block;
    }

    .infomation lì {
        font-size: 14px;
    }

}

/* Small phone to small tablet  */
@media only screen and (max-width: 767px){
    .col{
        width: 100%;
    }
    .main-nav{
        display: none;
        background:#1e4258;
        margin-top: 0;
      
    }

    .main-nav li a{
        color: orangered;
    }

    .logo{
        width: 55px;
    }
    .heading-main-box{
        transform: translate(-20%,-50%);
    }
    h1{
        word-spacing: 2px;
        font-size: 250%;
        margin-left: 5%;
    }

    h1#line2{
        font-size: 80px;
    }
    h1#line4{
        font-size: 80px;
        transform: translate(20%, -120%);
    }

    .heading-main-box .btn{
        width: 10%;
    }

    .about-picture{
        /* Căn giữa bức ảnh theo chiều dọc */
        text-align: center;
    }

    .about-picture img{
        width: 60%;
    }
    .about-section .row .p-long{
        font-size: 20px;
    }

    .picture-title{
        font-size: 25px;
    }

    .products-section .btn{
        width: 60%;
        margin-left: 20%;
    }

    .product-box{
        width: 60%;
        margin-left: 20%;
    }

    .product-box ul li{
        margin-left: 25%;
    }

    .testimonials-section .row blockquote cite{
        position: relative;
        left: 15%;
        top: -20px;
    }

    .image-sponsors cite {
        visibility: hidden;
    }

    form {
        width: 80%;
        margin-left: 10%;
    }

    label {
        margin-left: 35%;
    }
    .infomation {
        text-align: center;
    }
    .infomation li {
        font-size: 20px;
    }

    .social-icon {
        text-align: center;
        font-size: 15px;
        margin-bottom: 10%;
    }

    form .row:last-child{
        position: relative;
        top: 10px;
    }

    .sticky .logo {
        margin-top: 13px;
        width: 55PX;
        height: 55px;
    }

    .mobile-nav-icon{
        visibility: visible;
    }

} 

/* Small phone from 0 to 480px */
@media only screen and (max-width: 480px){
    html{
        font-size: 12px;
    }

    .heading-main-box .btn1{
        display: block;
        margin-bottom: 20px;
        margin-left: 6%;
        width: 15%;
    }
    h1#line3{
        transform: translate(-0%, -100%);
    }
    .infomation li {
        font-size: 15px;
        text-align: center;
    }
    .infomation{
        margin-top: 5%;}

    .social-icon{
        margin-left: -5%;
        margin-bottom: 10%;
    }

    form {
        width: 90%;
        margin-left: 5%;
    }

    form .row:last-child .btn{
        width: 50%;
    }

    .logo {
        margin-top: 30px;
        width: 45px;
        height: 45px;
    }
    .sticky .logo{
        width: 45px;
        height: 45px;
    }

    .sticky {
        height: 70px;
    }

}