/* --------------------------------------*/
/* -------Default setup----------------- */
/* ------------------------------------- */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;    
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px; 

    background-color: #fff;
    text-rendering: optimizeLegibility;

    scroll-behavior: smooth;

}

body {
    overflow-x: hidden;
}

/* ------------------------------------ */
/* -----------Reusable compomnent------ */
/* ------------------------------------ */

.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #e67e22;
    padding: 15px 30px;
    border-radius: 20px;
    margin: 0 5px;
    width: 190px;
    text-align: center;
    transition: all .2s;
}
.btn:hover{
    background-color: #d35400;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}

h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #e67e22;
    font-size: 180%;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}

h2:after{
    content: " ";
    display: block;
    width: 150px;
    height: 4px;
    background-color: rgba(230, 126, 34, 0.5);
    margin: 0 auto;
    margin-top: 10px;
}

h3{
    background-color: #265077;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 15px;

}

.p-long{
    text-align: center;
    color: #265077;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    margin-left: 15%;
    line-height: 140%;
}

.small-icon{
    color: #46637e;
    margin-right: 10px;
    font-size: 130%;
}

section{
    padding: 50px;
}

/* ------------------------------------ */
/* --------HEADER---------------------- */
/* ------------------------------------ */
header{
    
    background-image:linear-gradient(45deg,rgba(2, 33, 64, 0.8) 40%, rgba(45, 95, 93, 0.85))  ,url("../image/background3.jpg");
    background-size: center;
   
    background-position: right;
    
    height: 100vh;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
  
}

.logo{
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 60px;
    margin-top: 25px;

}

.main-nav{
    float: right;
    list-style: none;
    margin-right: 50px;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-right: 30px;
}

.main-nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 110%;
    font-weight: 700;
    transition: border-bottom 0.3s;
    /* transition trong CSS là thời gian chuyển từ effect CSS này sang CSS kia */
    padding: 3px 0;

}

.main-nav li a:hover{
    border-bottom: 2px solid #f7e4e494;
}

.heading-main-box{
    
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-58%, -45%);
    width: 1140px;
   
}

h1{
    /* text-transform: uppercase; */
    font-size: 4rem;
    /* font-weight: 900; */
    color: #86c3e04d;
    letter-spacing: 5px;
    /* word-spacing: 3px; */
    margin-bottom: 50px;
    line-height: 100%;
}

h1#line1{
    transform: translate(0%, 30%);
}

h1#line2{
    transform: translate(6%, -15%);
    font-size: 110px;
}
h1#line3{
    transform: translate(-5%, -70%);
    letter-spacing: 0px;
}
h1#line4{
    font-size: 110px;
    transform: translate(30%, -100%);
}


.btn1{
    position: relative;
    top: -15vh;
    left: 7vh;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #e67e22;
    padding: 15px 30px;
    border-radius: 20px;
    margin: 0 5px;
    width: 190px;
    text-align: center;
    transition: all .2s;
}
.btn1:hover{
    background-color: #d35400;
}

.sticky{
    background-color: rgba(2, 33, 64, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 80px;
}

.sticky .main-nav{
    margin-top: 30px;
}

.sticky .logo{
    width: 100px;
    height: 60px;
    margin-top: 1%;
    
    
}

/* ----------------------------------- */
/* --------About Section-------------- */
/* ----------------------------------- */
.about-picture{
    position: relative;
    margin-top: 50px;
}

.about-picture img{
    width: 90%;
    height: 150px;
    border-radius: 20px;
    border: 4px soild #c2e1fd;
    box-shadow: 0px 5px 15px 5px #265077;
    transition: all .5s;
}

.picture-title{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #c2e1fd;
    transform: translate(-65%, 100%);
    opacity: 0;
    transition: all .7s;
}

.about-picture:hover img{
    filter: brightness(60%) blur(2px);
}

.about-picture:hover .picture-title{
    transform: translate(-65%, -50%);
    opacity: 1;
}

/* ----------------------------------- */
/* --------Product Section-------------- */
/* ----------------------------------- */

.products-section{
    background-color: #f4f4f4;
}
.products-section h2{
    margin-bottom: 60px;
}
.product-box{
    background-color: #eeefff;
    box-shadow: 3px 5px 10px #e0e0e0;
    width: 90%;
    height: 350px;
}

.product-price{
    color: #263077;
    font-size: 200%;
    font-weight: 300;
    text-align: center;
}

.product-price span{
    font-size: 80%;
}

.product-box ul li{
    margin-left: 20%;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-box .btn{
    margin-left: 20%;
}

/* ----------------------------------- */
/* --------testimonials section-------------- */
/* ----------------------------------- */

.testimonials-section{
    background-image:linear-gradient(45deg,rgba(2, 33, 64, 0.8) 40%, rgba(45, 95, 93, 0.85)) ,url(../image/background4.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.testimonials-section h2{
    margin-bottom: 70px;
}

blockquote {
    position: relative;
    width: 95%;
    font-style: italic;
    line-height: 140%;
    color: #fff;
}

cite {
    display: block;
    color: #92b3d3;
    margin-top: 25px;
}

blockquote::before{
    content: '\00bb';
    display: block;
    font-size: 400%;
    position: absolute;
    top: -50px;
    left: -30px
}


cite img{
    height: 50px;
    border-radius: 50%;
    border: 2px soild #265077;
    vertical-align: middle;
    margin-right: 5px;
}


/* ----------------------------------- */
/* --------Sponsors section-------------- */
/* ----------------------------------- */

.sponsors-section{
    background-color: #f4f4f4;
}

.image-sponsors img{
    margin-top: 40px;
    height: 120px;
    margin-left: 30%; 
    cursor: pointer;
    transition: all .3s;
}

.image-sponsors img:hover{
    transform: scale(1.2);
   
}

.sponsors{
    font-weight: 900;
    font-size: 120%;
    color: #263077;
    margin-top: 7px;
    font-size: 120%;
    text-align: center;
    font-style:normal;
    margin-left: -8%;
    cursor: pointer;
}
/* ----------------------------------- */
/* --------Contact section-------------- */
/* ----------------------------------- */
.contact-section {
    background-image:linear-gradient(45deg,rgba(2, 33, 64, 0.8) 40%, rgba(45, 95, 93, 0.85)) , url("../image/background1.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.infomation{
    list-style: none;
    color: #fff;
    line-height: 200%;
    margin-top: 70px;
    word-spacing: 1px;
    font-size: 95%;
    margin-left: -30%;
}

.infomation .small-icon{
    color: #5b68c7;
}

.infomation .small-icon:hover{
    transform: scale(1.3);
}

.social-icon{
    margin-top: 50px;
    list-style: none;
}

.social-icon li {
    display: inline-block;
    font-size: 250%;
    margin-left: 20px;
    color: rgb(170, 170, 170);
    transition: all .3s;
    cursor: pointer;
}

.social-icon li:hover{
    transform: scale(1.3);
    color: #e67e22;
}

/* ------------------from--------------- */
form{
    background-color: rgb(0, 0, 0, 0.4);
    margin-left: 40%;
    height: 450px;
    width: 68%;
    margin-bottom: 40px;
}
form .row{
    position: relative;
    top: 35px;
}

label{
    font-size: 150%;
    color: #fff;
    padding: 20px;
}

input, textarea{
    outline: none;
    padding: 10px;
    background-color: rgba(56, 56, 56, 0.3);
    border: 1px soild rgba(20, 20, 20, 0.7);
    margin-left: 30px;
    border-radius: 5px;
}

textarea{
    resize: none;
    height: 100px;
}

input{
    height: 50px;
}

input[type=text], input[type=email], textarea{
    width: 80%;
    font-size: 100%;
    transition: all .3s;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus{
    color: #fff;
    background-color: rgb(0, 0, 0, 0.4);
}

form .row:last-child{
    text-align: center;
}

input[type=submit]{
    height: 60px;
    font-weight: 700;
    font-size: 100%;
    border-radius: 5px;
    margin: 40px auto; 
}

/* ----------------------------------- */
/* --------Footer section-------------- */
/* ----------------------------------- */

footer{
    text-align: center;
    background-color: rgb(71, 70, 70);
    color: #fff;
    padding: 20px;
}

